.env*
*.tf
ranges.log
terraform.tfstate*
ad_users.csv
azure_users.csv
azure_emails.txt
azure_usernames.txt
files/win10/*.cfg
files/velocihelk/host-velocihelk.cfg
files/velocihelk/server.config.yaml
files/velocihelk/client.config.yaml
files/velocihelk/winlogbeat.yaml
output/*
site/*
.terraform
ssh_key.pem
*.cfg
mkdocs-material/
.terraform.lock.hcl
.terraform.tfstate.lock.info
